body {
/*    background-color: beige;*/
    background:linear-gradient(to bottom right, red, darkred);
    background-attachment: fixed;

    color: black;
    font-family: "Garamond", Garamond, monospace;
/*    cursor: help;*/
/*    cursor:url("/media/cursor-octo-emoji.cur"), auto;*/
        cursor:url(/media/dividebyzero%20normal.cur), auto;


}

/*body:active {*/
/*  cursor: url(/media/ddr-cursor-fill), auto; changes cursor on click*/
/*}*/

a {
    color: white;
}

p {
    color: white;
}

h1 {
    text-align: center;
}

h3 {
    color: white;
}


.video-center-box {
    display: flex;
    justify-content: center;
/*    background-image: url("media/evian_logo.png");*/
}

.yt-embed-holder{
    display: flex;
/*    justify-content: center;*/
    width: 50%;
    overflow: hidden;
    aspect-ratio: 16/9;
/*    pointer-events: none;*/
    padding:1%;
    }

.yt-embed-holder iframe{
    width: 300%;
    height: 100%;
    overflow: hidden;
/*    margin-left: -100%;*/
}

.error-404 {
    justify-content: center;
    text-align: center;

}

.error-404 img {
    width: 50%;

}


.hero-image {
    text-align: center;
}

.hero-image img {
    width: 60%;
}


/*nav bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
/*    width: 100%;*/
    height: 1.4rem;
    
}

ul button{
/*    background-color: lightgrey;*/
    background-image: linear-gradient(to bottom right, white, lightblue);
    font-family: "Courier New", Courier, monospace;    
    border-color: steelblue;
    border-radius: 2px;
    cursor:url("/media/wii_cursor.cur"), auto;
    width: 12em;
}

ul li a {
  display: block;
  color: black;
  padding: 1px 10px;
/*    border: 2px solid grey;*/
  text-decoration: none;
    cursor:url("/media/wii_cursor.cur"), auto;
    text-align: center;
}

/*
ul li a.active {
  background-color: #04AA6D;
}
*/

/*hover translations*/
ul li a:hover {
/*  background-color: #111111;*/
    color: steelblue;
}
ul li a:hover span {
display: none;
}

.home-button:hover:before {
content: "ホーム"
}
.roster-button:hover:before {
content: "所属アーティスト"
}
.merch-button:hover:before {
content: "グッズ"
}
.contact-button:hover:before {
content: "お問い合わせ"
}
.live-button:hover:before {
content: "ライブ情報"
}
.submission-button:hover:before {
content: "応募"
}
.gallery-button:hover:before {
content: "ギャラリー"
}
.about-button:hover:before {
content: "当社について"
}

.chat-room-button:hover:before {
    content: "チャットルーム"
}
.guest-book-button:hover:before {
    content: "ゲーストブック"
}

.scrolling-text {
   bottom:0;
}

/*
.scrolling-text img {
    width: 5%;
}
*/


/*chat room*/
.chat-room {
    text-align: center !important;
}
.chat-room iframe {
    width: 50% !important;
    height: 400px !important;
}


.guest-book {
    text-align: center;
}
.guest-book iframe {
    width: 50%;
    height: 400px;

}


/*mobile adjustments*/
@media (max-width:700px){
    body {
        font-size:4vw;
    }
    
    .yt-embed-holder {
            width: 100%;
    }
    
    .hero-image img {
        width: 100%;
    }
    
    .chat-room iframe {
    width: 80% !important;
    }
    
    .guest-book iframe {
    width: 80%;
}
     
    
}